node_modules
npm-debug.log*
.next
.git
.gitignore
.env
.env.*
*.md
!README.md
Dockerfile
docker-compose*
.dockerignore
.github
.vscode
.replit
replit.nix
replit.md
.config
.upm
.cache
coverage
.nyc_output
*.log
