modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "run", "start"]
build = ["pnpm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_WEBHOOK_URL_FORMULARIO = "https://n8n-n8n-start.z8qram.easypanel.host/webhook-test/e914138c-0f72-4bb9-a209-3f379a630473"
